html{
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(114, 114, 114, 0.658);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

header{
    width: 275px;
    height: 510px;
    margin: 0;
    top: 50px;
    background-color: #040404;
    border: solid 3px #909291;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

aside{
    background-color: rgba(255, 255, 255, 0.048);
    margin: 0;
    margin: 30px 0 10px 0;
}

#tela{
    width: 250px;
    height: 400px;
    background: linear-gradient(to bottom right, rgb(87, 87, 255), rgb(255, 68, 68));
    border-radius: 3px;
    transform: scale(0.001);
    animation: cubic-bezier(0,1.24,1,.93);
    transition: 0.15s;
    overflow: hidden;
}

#telaInicial{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100%;
    width: auto;
}

#detalhes{
    background-color: rgba(0, 0, 0, 0.116);
    width: 100%;
    height: 30px;
    top: 0;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}

#detalhes h2{
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    cursor: default;
    font-weight: 600;
}

#horas{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: 50px;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0 0 0;
}

#data{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 200px;
}

footer{
    background-color: rgba(0, 0, 0, 0.116);
    bottom: 0;
    display: flex;
    width: 100%;
    height: 65px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

footer button{
    background-color: rgba(2, 133, 255, 0.103);
    border: 2px solid rgb(46, 46, 46);
    border-radius: 30px;
    padding: 10px;
    width: 40%;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

#Home{
    font-size: 25px;
    padding: 3px;
    border-radius: 100%;
    background-color: #040404;
    border: solid 3px #909291;
    cursor: pointer;
    text-decoration: none;
}

#Home:focus {
    outline:0;
}